@import url(../fonts/fonts.css);
* {
    text-decoration: none !important;
    list-style: none !important;
    font-family: 'Poppins-Medium';
}

.app {
    & .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px 0;
        
        &-list__menu {
            display: flex;
            align-items: center;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
        
        &-list:not(:last-child) {
            margin-right: 39px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            text-align: right;
            letter-spacing: -0.35px;
            color: #28293D !important;
            & a {
                color: #28293D;
            }
        }
        & .log-in {
            width: 175px;
            border: 2px solid #3366FF;
            color: #3366FF;
            border-radius: 8px;
            flex: none;
            /* order: 4; */
            flex-grow: 0;
        }
    }
    & .main-login {
        display: flex;
        align-items: center;
        height: 100vh;
        justify-content: center;
        text-align: center;
        & .login-page {
            background: #FFFFFF;
            border: 1px solid #EBEEFC;
            box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.03);
            border-radius: 12px;
            width: 380px;
            height: 456px;
            text-align: center;
            padding: 30px;
        }
    }
    & .menu-list {
        padding: 24px 0;
    }
    & .search_input {
        background: #E8E8E8;
        border-radius: 5px;
    }
    & .search_input::placeholder {
        color: #B1B1B8 !important;
    }
    & .filter-btn {
        background: #EDF1FD;
        border-radius: 5px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: -0.35px;
        color: #3365FC;
        width: 123px;
        height: 45px;
        text-align: center;
       
    }
    & .tabs-result {
        background-color: #f5f5f7;
        padding: 20px 0;
        & .eye {
            color: #3366FF;
        }
        & .text-header {
            color: #B1B1B8;
        }
        & .tbody-tr {
            border: 1px solid rgba(46, 91, 255, 0.08);
            border-radius: 8px;
            -webkit-border-radius: 8px;
        }
        & .spacer {
            height: 12px;
        }
    }
}